/*#canvas {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;
/*}*/

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.controlsLabels
{
    top: 0;
    width: 75px;
    position: absolute;
    alignment: right;
    color: lightgray;
}

.controls
{
    top: 25px;
    width: 75px;
    position: absolute;
}


.commandsHint
{
    bottom: 0px;
    left: 0;
    position: absolute;
    color: lightgray;
}


#objColorLabel
{
    left: 0;
}

#objColor
{
    left: 0;
}


#bgColorLabel
{
    left: 85px;
}


#bgColor
{
    left: 85px;
}


#speedXLabel
{
    left: 170px;
}

#speedX
{
    left: 170px;
}


#speedYLabel
{
    left: 255px;
}

#speedY
{
    left: 255px;
}